# Data types in python

### Creating the list

#### Lists are ordered and mutable and written inside square[] brackets .

In [3]:
#Adding an element to the list 
#append add item at the last postion
list.append('Delhi')

In [4]:
print(list)

['apple', 23, 45.6, 'Rohan', 'Delhi']

In [8]:
#insert add the element at the specific position
list.insert(2,"Meenu")

In [16]:
print(list)

['apple', 23, 'Meenu', 45.6, 'Rohan', 'Delhi']

In [17]:
#Remove from the list
list.remove('Meenu')

In [18]:
print(list)

['apple', 23, 45.6, 'Rohan', 'Delhi']

In [20]:
#To reverse the list
list.reverse()

In [21]:
print(list)

['Delhi', 'Rohan', 45.6, 23, 'apple']

### Creating the Dictionary

#### Dictionaries are in the form of key value pair and enclose in curlt brackets{}.

In [23]:
dict = {'name':'John','Age':36,'Gender' : 'Male'}

In [24]:
print(dict)

{'name': 'John', 'Age': 36, 'Gender': 'Male'}

In [25]:
print(type(dict))

<class 'dict'>

In [30]:
#Return the value of the item specified key

print(dict.get("name"))

John

In [31]:
#Print the key-value pair of the dictionary
print(dict.items())

dict_items([('name', 'John'), ('Age', 36), ('Gender', 'Male')])

In [32]:
#Modify the dictionary
dict['name']='Rohan'

In [33]:
print(dict)

{'name': 'Rohan', 'Age': 36, 'Gender': 'Male'}

In [34]:
#Delete the specific item 
dict.pop('Age')

36

In [35]:
print(dict)

{'name': 'Rohan', 'Gender': 'Male'}

In [38]:
#Insert into  the dictionary
dict['Branch']='IT'

In [39]:
print(dict)

{'name': 'Rohan', 'Gender': 'Male', 'Branch': 'IT'}

In [40]:
dict.update({'age':24})

In [41]:
print(dict)

{'name': 'Rohan', 'Gender': 'Male', 'Branch': 'IT', 'age': 24}

### Creating  the sets

#### Sets are unordered, mutable and unique .

In [42]:
s = {2,4,5,2,5,7,8}

In [43]:
print(type(s))

<class 'set'>

In [44]:
#Set contains unique value
print(s)

{2, 4, 5, 7, 8}

In [45]:
#Modifying the sets
s.add("mango")

In [46]:
print(s)

{2, 4, 5, 7, 8, 'mango'}

In [48]:
#pop returned removed value and it remove the random value from the set
s.pop()

2

In [49]:
#remove the specified value and it throes an error it the value is not specified in the list
s.remove('mango')

In [50]:
print(s)

{4, 5, 7, 8}

In [51]:
#Discard will not throw the error if the specified value is not in the list 
s.discard('mango')

### Creating the tuples

### Tuples are ordered and unmutable

In [53]:
tup = ('mango',56,12)

In [54]:
print(type(tup))

<class 'tuple'>